$font-family: "oswald";

/*CONOCENOS*/

main {
    .lista-instalaciones li {
        font-family: $font-family;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        margin: 30px 30px 30px 50px;

        .conocenosimg {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
    }

    h3 {
        color: rgb(255, 255, 255);
        font-family: $font-family;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        font-size: 25px;
    }

    .conocenosimg img {
        width: 31%;

    }

    .mapa {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

    }
}



/*TORNEOS*/

main {
    section {
        .torneo-parrafo {
            color: white;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 100px 30px 30px 30px;
        }

        .instagram-torneo {
            margin-left: 650px;
            color: rgb(18, 151, 122);
            transition: 1s;

            &:hover {
                color: rgb(255, 255, 255);
                font-size: 20px;
            }
        }

        .imagenes-torneo {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 30%;
            }
        }
    }

    .posiciones {

        background-color: rgb(0, 0, 0);
    }

    .tabla-posiciones {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        border-collapse: collapse;
       

        th {
            border: 4px solid rgb(18, 151, 122);
          text-align: center;
          padding: 10px 30px 10px 30px;
        }

        td {
            border: 1px solid rgb(18, 151, 122);
            border-collapse: collapse;
            text-align: center;
        }
    }
}

/*ESCUELITA*/

main {
    .escuelita-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px auto;
    }

    .escuelita-parrafo {
        font-size: 1.5rem;
    }

    .escuelita-img img {
        margin-top: 50px;
        width: 30%;
    }
}

/*EVENTOS*/

main {
    .eventos-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .eventos-img img {
        width: 45%;
    }

    .videoevento {
        display: flex;
        justify-content: center;
    }

    .parrafo-eventos {
        margin: 50px 0px 50px 80px;
        width: 80%;
        font-size: 25px;
        text-align: justify;
    }

    .consultas-conteiner {
        text-align: center;
        width: 100%;
        margin: 30px 0;
    }

    .consultas-wttp {
        font-size: 1.5rem;
        margin: 15px auto;
        color: rgb(255, 255, 255);
    }
}