$font-family: "oswald";

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    ul {
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        color: rgb(0, 0, 0);
        font-family: $font-family;
        font-size: 1rem;
        font-weight: 600;
        margin: 0 2rem;
        text-decoration: none;
        padding: 0.1rem 0.5rem;

        li {

            a {
                color: black;
                transition: 1s;
                &:hover {
                    color: rgb(11, 160, 140);
                }

            }
        }
    }
}