$font-family: Arial, Helvetica, sans-serif;

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        color: rgb(0, 0, 0);
        font-family: $font-family;
        font-size: 1rem;
        font-weight: 500;
        margin: 0 2rem;
        text-decoration: none;
        padding: 0.1rem 0.5rem;

        li {

            a {
                color: black;
                
            }
        }
    }
}