$font-family: "oswald";

main {
    background-color: black;
    border-bottom: 5px solid rgb(0, 145, 126);

    .larambla {
        display: flex;
        justify-content: center;
        justify-items: center;
        padding-top: 50px;
        color: rgb(0, 145, 126);
        font-family: $font-family;
        font-weight: bolder;
        font-size: 60px;
        align-items: center;
    }

    .slogan {
        display: flex;
        justify-content: center;
        justify-items: center;
        padding-top: 40px;
        font-size: 2rem;
        color: rgb(0, 145, 126);
        background-color: rgb(0, 0, 0);
        font-family: $font-family;
        font-weight: bolder;
        align-items: center;
    }

    .carouselconteiner {
        margin: 0 auto;

    }

    .index-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .index-img img {
        width: 30%;

    }

    section video {
        width: 50%;
        height: 100%;
        padding: 100px;
        position: relative;
        display: inline-block;
        margin-left: auto;
        padding: 50px;
    }

    img {
        padding: auto;
        border-radius: 3%;
        margin-left: 20px;
    }

    .sponsors {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(0, 145, 126);
        font-family: $font-family;
        font-size: 2rem;
        padding-top: 50px;
        font-weight: bolder;
    }

    .sponsors-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 50px;

        img {
            width: 60%;
        }

    }

    p {
        color: white;
        font-size: 1rem;
    }
}